@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Permanent+Marker&family=Young+Serif&display=swap');
.home-title {
    font-family: 'Permanent Marker';
    font-size: 2em;
    margin-top: 10px;
}
.msg h2 {
    font-family: 'Lucida Handwriting' ;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: 0;
    padding: 0 ;
}
nav a {
    text-align: center;
}
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #E6AF2E;
}
body {
    background-color: burlywood;
}
.h2 {
    margin: 0;
}
header {
    background-color: #E6AF2E;
}
nav a:hover {
    background-color: #FBFFFE;
    color: black
}
.book, .join {
    background-color:white;
    text-align: center;
    color: #6B0504;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: white;
    color: #6B0504;
}
.join:hover {
    background-color: white;
}
.msg {
    background-color: bisque;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #00B2CA;
    padding: 25px 50px;
    margin-top: 200px;
}
nav a {
    text-align: center;
    color: #001514;
    text-decoration: none;
    padding: 35px;
}
.home-title {
    color: #001514;
}
h4 {
    color: #6B0504;
}
.msg h2 {
    color:black
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer a {
    text-align: center;
    color: #6B0504;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.msg p {
    font-size: 18px;
    padding-bottom: 15px;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}
main section img {
    box-sizing: border-box;
}